<?php
/**
 * QuotesApi
 * PHP version 5
 *
 * @category Class
 * @package  FincraDeveloperApi
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
/**
 *  Copyright 2016 SmartBear Software
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program. 
 * https://github.com/swagger-api/swagger-codegen 
 * Do not edit the class manually.
 */

namespace FincraDeveloperApi\Api;

use \FincraDeveloperApi\Configuration;
use \FincraDeveloperApi\ApiClient;
use \FincraDeveloperApi\ApiException;
use \FincraDeveloperApi\ObjectSerializer;

/**
 * QuotesApi Class Doc Comment
 *
 * @category Class
 * @package  FincraDeveloperApi
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class QuotesApi
{

    /**
     * API Client
     * @var \FincraDeveloperApi\ApiClient instance of the ApiClient
     */
    protected $apiClient;
  
    /**
     * Constructor
     * @param \FincraDeveloperApi\ApiClient|null $apiClient The api client to use
     */
    function __construct($apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('http://DEFAULT');
        }
  
        $this->apiClient = $apiClient;
    }
  
    /**
     * Get API client
     * @return \FincraDeveloperApi\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }
  
    /**
     * Set the API client
     * @param \FincraDeveloperApi\ApiClient $apiClient set the API client
     * @return QuotesApi
     */
    public function setApiClient(ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }
  
    
    /**
     * getaquote
     *
     * Get a quote
     *
     * @return void
     * @throws \FincraDeveloperApi\ApiException on non-2xx response
     */
    public function getaquote()
    {
        list($response, $statusCode, $httpHeader) = $this->getaquoteWithHttpInfo ();
        return $response; 
    }


    /**
     * getaquoteWithHttpInfo
     *
     * Get a quote
     *
     * @return Array of null, HTTP status code, HTTP response headers (array of strings)
     * @throws \FincraDeveloperApi\ApiException on non-2xx response
     */
    public function getaquoteWithHttpInfo()
    {
        
  
        // parse inputs
        $resourcePath = "/quotes/generate";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array());
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array());
  
        
        
        
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'POST',
                $queryParams, $httpBody,
                $headerParams
            );
            
            return array(null, $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            }
  
            throw $e;
        }
    }
    
}
