<?php
/**
 * WalletsApi
 * PHP version 5
 *
 * @category Class
 * @package  FincraDeveloperApi
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
/**
 *  Copyright 2016 SmartBear Software
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program. 
 * https://github.com/swagger-api/swagger-codegen 
 * Do not edit the class manually.
 */

namespace FincraDeveloperApi\Api;

use \FincraDeveloperApi\Configuration;
use \FincraDeveloperApi\ApiClient;
use \FincraDeveloperApi\ApiException;
use \FincraDeveloperApi\ObjectSerializer;

/**
 * WalletsApi Class Doc Comment
 *
 * @category Class
 * @package  FincraDeveloperApi
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class WalletsApi
{

    /**
     * API Client
     * @var \FincraDeveloperApi\ApiClient instance of the ApiClient
     */
    protected $apiClient;
  
    /**
     * Constructor
     * @param \FincraDeveloperApi\ApiClient|null $apiClient The api client to use
     */
    function __construct($apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('http://DEFAULT');
        }
  
        $this->apiClient = $apiClient;
    }
  
    /**
     * Get API client
     * @return \FincraDeveloperApi\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }
  
    /**
     * Set the API client
     * @param \FincraDeveloperApi\ApiClient $apiClient set the API client
     * @return WalletsApi
     */
    public function setApiClient(ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }
  
    
    /**
     * getallthewalletsforaBusiness
     *
     * Get all the wallets for a Business
     *
     * @param string $business_id This could be the ID of the business or the ID of a sub-account of the business (required)
     * @return void
     * @throws \FincraDeveloperApi\ApiException on non-2xx response
     */
    public function getallthewalletsforaBusiness($business_id)
    {
        list($response, $statusCode, $httpHeader) = $this->getallthewalletsforaBusinessWithHttpInfo ($business_id);
        return $response; 
    }


    /**
     * getallthewalletsforaBusinessWithHttpInfo
     *
     * Get all the wallets for a Business
     *
     * @param string $business_id This could be the ID of the business or the ID of a sub-account of the business (required)
     * @return Array of null, HTTP status code, HTTP response headers (array of strings)
     * @throws \FincraDeveloperApi\ApiException on non-2xx response
     */
    public function getallthewalletsforaBusinessWithHttpInfo($business_id)
    {
        
        // verify the required parameter 'business_id' is set
        if ($business_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $business_id when calling getallthewalletsforaBusiness');
        }
  
        // parse inputs
        $resourcePath = "/wallets";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array());
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array());
  
        // query params
        
        if ($business_id !== null) {
            $queryParams['businessID'] = $this->apiClient->getSerializer()->toQueryValue($business_id);
        }
        
        
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'GET',
                $queryParams, $httpBody,
                $headerParams
            );
            
            return array(null, $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            }
  
            throw $e;
        }
    }
    
    /**
     * getawallet
     *
     * Get a wallet
     *
     * @param string $wallet_id The ID of the wallet (required)
     * @return void
     * @throws \FincraDeveloperApi\ApiException on non-2xx response
     */
    public function getawallet($wallet_id)
    {
        list($response, $statusCode, $httpHeader) = $this->getawalletWithHttpInfo ($wallet_id);
        return $response; 
    }


    /**
     * getawalletWithHttpInfo
     *
     * Get a wallet
     *
     * @param string $wallet_id The ID of the wallet (required)
     * @return Array of null, HTTP status code, HTTP response headers (array of strings)
     * @throws \FincraDeveloperApi\ApiException on non-2xx response
     */
    public function getawalletWithHttpInfo($wallet_id)
    {
        
        // verify the required parameter 'wallet_id' is set
        if ($wallet_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $wallet_id when calling getawallet');
        }
  
        // parse inputs
        $resourcePath = "/wallets/{walletID}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array());
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array());
  
        
        
        // path params
        
        if ($wallet_id !== null) {
            $resourcePath = str_replace(
                "{" . "walletID" . "}",
                $this->apiClient->getSerializer()->toPathValue($wallet_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'GET',
                $queryParams, $httpBody,
                $headerParams
            );
            
            return array(null, $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            }
  
            throw $e;
        }
    }
    
}
